#livecontainer {
  position: absolute;
  z-index: 10;
  width: 100px;
  left: 0px;
  top: 30px;
  padding: 6px;
  padding-left: 30px;
  padding-right: 18px;
  border-radius: 0px 5px 15px 0px;
  background: linear-gradient(to right, rgba(215, 50, 50, 0.9), rgba(235, 0, 0, 0.85));
  box-shadow: -1px 2px 4px rgba(0, 0, 0, .5);
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  -webkit-animation-delay: 1s;
  -webkit-transition: left 2s, opacity 1.5s;
  left: -100px;
  opacity: 0;
}
#livecontainer.live {
  opacity: 1;
  left: 0px;
}
#livecontainer.notlive {
  opacity: 0;
  left: -80px;
}
#livecontainer.hidden {
  opacity: 0;
  left: -90px;
}
#clockcontainer {
  position: absolute;
  z-index: 9;
  top: 30px;
  padding: 6px;
  padding-right: 18px;
  border-radius: 0px 5px 15px 0px;
  background: linear-gradient(to right, rgba(0, 00, 00, 0.9), rgba(0, 0, 0, 0.7));
  box-shadow: -1px 2px 4px rgba(0, 0, 0, .5);
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  -webkit-animation-delay: 4s;
  -webkit-animation-duration: 1.8s;
  -webkit-transition: left 2s, opacity 2s, padding-left 2s;
  padding-left: 30px;
  left: -180px;
  opacity: 0;
}
#clockcontainer.notlive {
  padding-left: 25px;
  left: 0px;
  opacity: 1;
}
#clockcontainer.live {
  padding-left: 125px;
  left: 0px;
  opacity: 1;
}
#clockbox {
  width: 110px;
  padding-right: -10px;
  text-overflow: clip;
}
#logobox {
  position: absolute;
  top: 30px;
  right: 50px;
  -webkit-animation-delay: 2s;
}
#lowerthird {
  position: absolute;
  bottom: 90px;
  left: 90px;
  border-radius: 5px 15px 15px 5px;
  background: linear-gradient(to right, rgba(200, 50, 50, 0.9), rgba(215, 0, 0, 0.9));
  box-shadow: -1px 2px 4px rgba(0, 0, 0, .5);
  -webkit-animation-delay: 3.5s;
}
.lowerthirdtext {
  color: white;
  font-weight: bold;
  font-size: 2.2em;
  padding: 12px;
  padding-right: 20px;
  padding-left: 30px;
}
.lowerthirdsecondline {
  position: relative;
  bottom: 0;
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  padding: 6px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0px 0px 15px 5px;
  background: linear-gradient(to right, rgba(0, 00, 00, 0.9), rgba(0, 0, 0, 0.9));
}
#ticker {
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  border-radius: 15px 15px 0px 0px;
  background: linear-gradient(to right, rgba(200, 50, 50, 0.9), rgba(215, 0, 0, 0.8));
  box-shadow: -1px 2px 4px rgba(0, 0, 0, .5);
  -webkit-animation-delay: 5s;
  overflow: hidden;
}
.ticker {
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  padding: 6px;
  text-align: center;
}
body {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
@keyframes tickermove {
  from {
    -webkit-transform: translate(1000px, 0px);
  }
  to {
    -webkit-transform: translate(-100%, 0px);
  }
}
#tickercontainer {
  width: 100%;
}
#tickertext {
  position: relative;
  display: inline-block;
  animation-name: tickermove;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  white-space: nowrap;
  overflow: visible;
}
