#livecontainer {
    position: absolute;
    z-index: 10;
    width: 100px;
    left: 0px;
    top: 30px;
    padding: 6px;
    padding-left: 30px;
    padding-right: 18px;
    border-radius: 0px 5px 15px 0px;
    background: linear-gradient(to right, rgba(215, 50, 50, 0.9), rgba(235, 0, 0, 0.85));
    box-shadow: -1px 2px 4px rgba(0, 0, 0, .5);
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    -webkit-transition: left 2s, opacity 1.5s;
    left: -100px;
    opacity: 0;
}
#livecontainer.live {
    opacity: 1;
    left: 0px;
}
#livecontainer.notlive {
    opacity: 0;
    left: -80px;
}
#clockcontainer {
    position: absolute;
    z-index: 9;
    top: 30px;
    padding: 6px;
    padding-right: 18px;
    border-radius: 0px 5px 15px 0px;
    background: linear-gradient(to right, rgba(0, 00, 00, 0.9), rgba(0, 0, 0, 0.7));
    box-shadow: -1px 2px 4px rgba(0, 0, 0, .5);
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    -webkit-animation-duration: 1.8s;
    -webkit-transition: left 2s, opacity 2s, padding-left 2s;
    padding-left: 30px;
    left: -180px;
    opacity: 0;
}
#clockcontainer.time {
    padding-left: 25px;
    left: 0px;
    opacity: 1;
}
#clockcontainer.live {
    padding-left: 125px;
}
#clockbox {
    width: 110px;
    padding-right: -10px;
    text-overflow: clip;
}
#logobox {
    position: absolute;
    top: 30px;
    right: 50px;
}
#lowerthirdleft {
    min-width: 300px;
    position: absolute;
    bottom: 90px;
    left: 90px;
    border-radius: 5px 15px 15px 5px;
    background: linear-gradient(to right, rgba(200, 50, 50, 0.9), rgba(215, 0, 0, 0.9));
    box-shadow: -1px 2px 4px rgba(0, 0, 0, .5);
}
.lowerthirdtextleft {
    color: white;
    font-weight: bold;
    font-size: 2.2em;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
}
.lowerthirdsecondlineleft {
    position: relative;
    bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    padding: 6px;
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 0px 0px 15px 5px;
    background: linear-gradient(to right, rgba(0, 00, 00, 0.9), rgba(0, 0, 0, 0.9));
}
#lowerthirdright {
    min-width: 300px;
    position: absolute;
    bottom: 90px;
    right: 90px;
    border-radius: 15px 5px 5px 15px;
    background: linear-gradient(to right, rgba(200, 50, 50, 0.9), rgba(215, 0, 0, 0.9));
    box-shadow: -1px 2px 4px rgba(0, 0, 0, .5);
    text-align: right;
}
.lowerthirdtextright {
    color: white;
    font-weight: bold;
    font-size: 2.2em;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
}
.lowerthirdsecondlineright {
    position: relative;
    bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    padding: 6px;
    padding-left: 40px;
    padding-right: 30px;
    border-radius: 0px 0px 5px 15px;
    background: linear-gradient(to right, rgba(0, 00, 00, 0.9), rgba(0, 0, 0, 0.9));
}
#ticker {
    position: absolute;
    bottom: 0px;
    left: 10%;
    width: 80%;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(to right, rgba(200, 50, 50, 0.9), rgba(215, 0, 0, 0.8));
    box-shadow: -1px 2px 4px rgba(0, 0, 0, .5);
    overflow: hidden;
}
.ticker {
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    padding: 6px;
    text-align: center;
}
body {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}
#tickercontainer {
    width: 100%;
}
#tickertext {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
}
#grid {
    width: 60%;
    margin: auto;
    background: rgba(0, 0, 0, .2);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    padding: 12px;
    text-align: center;
}
.gridrow {
    padding: 10px 30px;
    margin: 2px 0px;
    background: linear-gradient(to right, rgba(200, 50, 50, 0.75), rgba(215, 0, 0, 0.75));
    overflow: hidden;
}
.gridrow.last {
    border-radius: 0px 0px 10px 10px;
}
.gridrow.title {
    border-radius: 10px 10px 0px 0px;
    font-size: 1.8em;
    background: linear-gradient(to right, rgba(20, 20, 20, 0.75), rgba(0, 0, 0, 0.75));
}
.gridrow.split {
    padding: 10px 0px
}
.gridrow .left {
  padding-left: 30px;
    float: left;
    text-align: left;
}
.gridrow .right {
  padding-right: 30px;

    float: right;
    text-align: right;
}
.gridrow .big {
}
.gridrow .little {
}
.gridcontainer {
    display: table;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.othergridcontainer {
    #position: absolute;
    /*a variation of an "lte ie7" hack*/
    #top: 50%;
    display: table-cell;
    vertical-align: middle;
}
